<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {{{block "pageStyles"


    }}}
  </head>
  <body>
    {{{body}}}

    {{#if PROD_MODE}}
    {{{block 'googleAnalyticsScripts'}}}
    <p>prod</p>
    {{/if}}

    {{{block "pageScripts"}}}
  </body>
</html>
